<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cabelos']" routerLinkActive="active">Cabelos</a></li>
            <li class="breadcrumb-item" [routerLink]="['/cabelos/acessorios']" routerLinkActive="active">Acessórios</li>    
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="produtos card" *ngFor="let item of itens">   
            <p> {{item.produto}} </p>
    </div>
</div>